[Desktop Entry]
Version=1.0
Name=SolderStationAuto
Comment=Shortcut to run Solder Station application
Exec=python3 /home/pi/Documents/SolderStationAuto/Development/main.py
Icon=/home/pi/Documents/SolderStationAuto/Development/main.py
Path=/home/pi/Documents/SolderStationAuto/Development/
Terminal=False
Type=Application
Categories=Utility;Application;
